.game-section {
    margin: 25px;
    width: 100%;
    height: 100%;
    max-width: 680px;
    max-height: 680px;
    min-width: 290px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.game-board {
    background: #EFF25A;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8px 1fr 8px 1fr ;
    grid-template-rows: 1fr 8px 1fr 8px 1fr ;
}

.game-cell {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Esconda a imagem inicialmente */
}

.active {
    background: #FFFFFF;
}

.separator{
    background-color: #9B9B9B;
}
.border-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.border-right{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.border-bottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.border-left{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 5px;
}

.checkbox-events{
    width: 24px;
    height: 24px;
    appearance: none;
    border: solid 4px #707070;
    border-radius: 4px;
    position: relative;

}

.checkbox-events:checked::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #707070;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 2px;
}

.label-events{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #707070;
}

.game-log{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.log-entry{
    width: 210px;
    height: 46px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
}


.log-result{
    width: 150px;
    height: 46px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3A4042;
    background: #EFF25A ;
    text-transform: uppercase;
}


