.game-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-wrap: wrap;
    
}
.game-section > div{
    width: fit-content;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.game-board {
    background: #EFF25A;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    min-width: 320px;
    min-height: 320px;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 8px 1fr 8px 1fr ;
    grid-template-rows: 1fr 8px 1fr 8px 1fr  ;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
    aspect-ratio: 1/1;
}

.game-cell {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-cell img {
    width: 100%;
    height: 100%;
    max-width: 150px;
}
.game-cell:hover {
    background: #FFFFFF;
}
.disabled {
    pointer-events: none;
}


.separator{
    background-color: #9B9B9B;
}
.border-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.border-right{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.border-bottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.border-left{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.button-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 5px;
}

.checkbox-events{
    width: 24px;
    height: 24px;
    appearance: none;
    border: solid 4px #707070;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

}

.checkbox-events:checked::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #707070;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 2px;
}

.label-events{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #707070;
    cursor: pointer;
}

.game-events{
    height: fit-content;
    width: 200px;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.event{
    width: 200px;
    height: 46px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
}

.show-events{
    display: flex;
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.start-game, .end-game, .draw-game{
    width: 100%;
    height: 46px;
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: 700;
    margin-bottom: 20px;
}
.start-game >div{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.start-game > div > button{
    width: 80px;
    height: 36px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3A4042;
    background: #EFF25A ;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
}

.end-game span{
    text-transform: uppercase;
    font-weight: 900;
}

.end-game > button, .draw-game > button {
    width: 160px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3A4042;
    background: #EFF25A ;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
}


